.splash-header {
    text-align: center;
    margin: 2.5% 0;
}

.splash-header-div h1 {
    font-size: 3em;
}

.splash-header-div h2 {
    font-size: 1.5em;
}

.splash-header-div button {
    margin-top: 10%;
}

.splash-header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 10%;
}

.splash-img {
    position: fixed;
    top: 50px;
    right: 0px;
    height: calc(100vh - 50px - 16%);
}