footer {
    position: fixed;
    bottom: 0px;
    /* height: 16%; */
    height: 165px;
    width: 100vw;
    border-top: 1px solid black;
    text-align: center;
    background-color: var(--primary-color);

}

.footer-cards {
    display: flex;
    justify-content: space-evenly;
}

.footer-cards > div {
    margin-top: .8%;
    padding: 1.3em;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.footer-cards p {
    margin: .3em 0;
}

.fab {
    margin: .2em .1em 0;
}

@media screen and (max-width: 500px) {
    .fab {
        font-size: 3em;
    }

    .footer-cards > div {
        padding: 0.6em;
    }

    .footer-cards p {
        margin-top: 0;
    }

    .footer-cards {
        padding-top: 1em;
    }
}
