.lesson-container {
    background-color: white;
    border: 1px solid black;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 8rem;
    position: relative;
}

@keyframes divMove {
    0% {top: 0px; right: 0px; box-shadow: -0px 0px black;}
    100% {top: -8px; right: -9px; box-shadow: -9px 10px black;}
}
@keyframes divMoveBack {
    0% {top: -8px; right: -9px; box-shadow: -9px 10px black;}
    100% {top: 0px; right: 0px; box-shadow: -0px 0px black;}
}

.lesson-container:hover {
    cursor: pointer;
    animation-name: divMove;
    animation: divMove .2s;
    animation-fill-mode: forwards;
}

.lesson-container:not(:hover) {
    animation-name: divMoveBack;
    animation: divMoveBack .2s;
    animation-fill-mode: forwards;
}

.lesson-header {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
}

.lesson-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
    margin-bottom: 0.25rem;
}

.lesson-button-div {
    position: relative;
    left: 12rem;
    bottom: 3rem;
}

.lesson-button-div:hover {
    cursor: pointer;
}

