.lesson-container {
    background-color: white;
    border: 1px solid black;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 8rem
}

.lesson-container:hover {
    cursor: pointer;
}

.lesson-header {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
}

.lesson-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
    margin-bottom: 0.25rem;
}

.lesson-button-div {
    position: relative;
    left: 12rem;
    bottom: 3rem;
}

.lesson-button-div:hover {
    cursor: pointer;
}

