.course-div {
    background-color: white;
    border: 1px solid black;
    padding: 1rem 1rem 0rem 1rem;
    margin: 0;
    margin-bottom: 1rem;
    width: 25rem;
    /* height: fit-content; */
}

/* Why is the height uneven and where is the div margin coming from? */
/* Resizing after button goes away */

.course-div:hover {
    cursor: pointer;
}

.course-header {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
}

.course-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
    margin-bottom: 0.25rem;
}

.lesson-count {
    font-size: 0.875rem;
}

.lesson-count span{
    font-weight: bold;
}

.course-button-div {
    position: relative;
    left: 12rem;
    bottom: 3rem;

    /* Why doesn't this work below */

    /* display: flex; */
    /* justify-content: center; */
    /* margin-left: 14rem; */
}

.course-button-div:hover {
    /* Why does this not work */
    cursor: pointer;
}

