.course-container {
    background-color: var(--secondary-color);
    border: 1px solid black;
    padding: .5rem 3em .5em;
    margin: auto;
    margin-bottom: 1rem;
    width: 80%;
    height: 8rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

@keyframes divMove {
    0% {top: 0px; right: 0px; box-shadow: -0px 0px black;}
    100% {top: -8px; right: -9px; box-shadow: -9px 10px black;}
}
@keyframes divMoveBack {
    0% {top: -8px; right: -9px; box-shadow: -9px 10px black;}
    100% {top: 0px; right: 0px; box-shadow: -0px 0px black;}
}

.animation:hover {
    cursor: pointer;
    animation-name: divMove;
    animation: divMove .2s;
    animation-fill-mode: forwards;
}

.animation:not(:hover) {
    animation-name: divMoveBack;
    animation: divMoveBack .2s;
    animation-fill-mode: forwards;
}



.course-header {
    font-size: 0.9rem;
    margin-bottom: .8rem;
}

.course-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
    margin-bottom: 0.25rem;
}

.lesson-count {
    font-size: 0.875rem;
}

.lesson-count span{
    font-weight: bold;
}

.course-button-div:hover {
    cursor: pointer;
}

.course-button-div{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

span > span {
    text-align: center;
}

