.course-container {
    background-color: white;
    border: 1px solid black;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 8rem;
    position: relative;
}

.course-container:hover {
    top: -7px;
    transition: .2s;
    right: -7px;
    cursor: pointer;
    box-shadow: -7px 7px black;
}

.course-header {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
}

.course-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
    margin-bottom: 0.25rem;
}

.lesson-count {
    font-size: 0.875rem;
}

.lesson-count span{
    font-weight: bold;
}

.course-button-div {
    position: relative;
    left: 12rem;
    bottom: 3rem;
}

.course-button-div:hover {
    cursor: pointer;
}

