.not-found-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.not-found-link {
    display: block;
    font-size: 1.5em;
}

.not-found-cat {
    margin-top: 1.5em;
    width: 55%;
}