.aspirations-div > a {
    border-radius: 100px;
}

.aspiration {
    border: 1px solid black;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    padding: 0 .5em;
}

.completed {
    border: 2px solid green;
    background-color: rgba(0, 128, 0, 0.1);
}

.aspiration-option {
	position: absolute;
	display: none;
}

.aspiration-option.delete {
    bottom: 5%;
    right: 45%;
    color: red;
}

.aspiration-option.toggle-complete {
    top: 5%;
    left: 45%;
}

.aspiration-name {
    text-align: center;
    font-size: 1.25em;
}

.aspiration:hover .aspiration-option {
	display: block;
    cursor: pointer;
}
