.grid-cell {
    border: 1px solid lightgray;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 0;
}

.node {
    background-color: black;
    border-radius: 50%;
    width: 125%;
    height: 125%;
    z-index: 1;
}

.r7c8 {
    position: relative;
    left: 60%;
    width: 1px;
    height: 300%;
    border: solid 1px black;
    background-color: black;
}

.r6c9 {
    position: relative;
    top: 60%;
    width: 300%;
    height: 1px;
    border: solid 1px black;
    background-color: black;
}

.r9c9 {
    position: relative;
    right: 140%;
    width: 550%;
    height: 1px;
    border: solid 1px black;
    background-color: black;
    transform: rotate(-45deg);
}

.r7c13 {
    position: relative;
    top:78%;
    right: 10%;
    width: 400%;
    height: 1px;
    border: solid 1px black;
    background-color: black;
    transform: rotate(27deg);
}

.traversed {
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    transition: border 500ms;
}

.node.traversed {
    transition: background-color 500ms;
}

.path {
    background-color: violet;
    border: 1px solid violet;
    transition: border 500ms;
}

.node.path {
    transition: background-color 500ms;
}
