.lesson-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lesson-top-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 2em;
}

.back-to-course {
    display: flex;
    flex-direction: column;
}

.back-to-course > span {
    font-weight: bold;
    color: var(--primary-color);
}

.fa-level-up-alt {
    transform: rotate(-90deg);
    color: var(--tertiary-color);
}

.algo-vis-modal-btn {
    width: fit-content;
}

.lesson-page-header {
    margin-top: 1.5em
}

.lesson-description {
    color: var(--primary-color);
    padding: 0 10%;
    font-style: italic;
}

.lesson-img {
    margin: 2em 0;
}

.lesson-content {
    text-align: left;
}

.lesson-comment-div {
    width: 100%;
    text-align: left;
}

.lesson-comment-container {
    padding: 0 3em;
}
