.learning-path-course {
    margin-bottom: 3em;
}

.aspirations-div {
    display: flex;
    margin: 1em 0;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.buttons-and-path {
    display: flex;
    position: relative;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    background-color: var(--bg-color);
}

.scroll-left {
    left: 0px;
    transform: translate(-150%, -50%)
}

.scroll-right {
    right: 0px;
    transform: translate(150%, -50%);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}
