.learning-path-course {
    margin-bottom: 3em;
}

.aspirations-div {
    display: flex;
    margin: 1em 0;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.buttons-and-path {
    display: flex;
    position: relative;
    border-left: 4px solid gray;
    border-right: 4px solid gray;

}

.scroll-btn {
    position: absolute;
    top: 50%;
    background-color: var(--bg-color);
}

.scroll-left {
    left: 0px;
    transform: translate(-150%, -50%)
}

.scroll-right {
    right: 0px;
    transform: translate(150%, -50%);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .learning-path-course {
        width: 100%;
    }

    .aspirations-div {
        overflow-x: auto;
    }

    .scroll-btn {
        display: none;
    }
}
