nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100vw;
    padding: 0 1%;
    border-bottom: 1px solid black;
}

.nav-search-div {
    position: relative;
}

nav a {
    text-decoration: none;
}
