.algo-vis-div {
    height: fit-content;
    width: fit-content;
}

.grid-outer-container {
    display: flex;
    justify-content: center;
}

.grid-inner-container {
    display: grid;
    /* CSS Grid to display the cells visually, as opposed to the javascript grid which comes from the for loops */
    grid-template-rows: repeat(20, 2vw);
    grid-template-columns: repeat(30, 2vw);
}

.algo-page-head {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.algo-name {
    margin: 0;
    font-size: 1.7em;
    align-self: end;
    margin-left: 0.5em;
}

.algo-vis-control-div {
    display: flex;
    align-content: center;
}

.algo-button {
    margin: 0 1em;
    height: fit-content
}

@media screen and (max-width: 630px) {
    .algo-button {
        margin: 0 0.3em;
    }

    .grid-container {
        padding: 0 15%;
    }

    .algo-name {
        display: none
    }
}