.algo-vis-div {
    /* width: 50vw; */
    /* height: 50vh; */
    height: fit-content;
    width: fit-content
}

.grid-container {
    display: grid;
    /* CSS Grid to display the cells visually, as opposed to the javascript grid which comes from the for loops */
    grid-template-rows: repeat(20, 2vw);
    grid-template-columns: repeat(30, 2vw);
}

.algo-vis-control-div {
    display: flex;
    justify-content: center;
}

.algo-button {
    width: 5.5%;
    margin: 0 1em;
}

.secret-button {
    display: none;
}
